<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="com.outsystemscloud.systembars"
        version="1.0.0">

    <name>SystemBars</name>
    <description>Cordova port of Capacitor 8's SystemBars JavaScript API for OutSystems 11 / MABS 12. Implemented natively in Kotlin (Android) and Swift (iOS).</description>
    <license>MIT</license>
    <keywords>cordova,outsystems,system-bars,status-bar,navigation-bar</keywords>

    <js-module src="www/systembars.js" name="SystemBars">
        <clobbers target="cordova.plugins.SystemBars" />
    </js-module>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="CustomSystemBars">
                <param name="android-package" value="com.outsystemscloud.systembars.SystemBarsPlugin" />
                <param name="onload" value="true" />
            </feature>
            <preference name="GradlePluginKotlinEnabled" value="true" />
            <preference name="GradlePluginKotlinCodeStyle" value="official" />
        </config-file>

        <framework src="androidx.core:core:1.13.1" />

        <source-file src="src/android/SystemBarsPlugin.kt"
                     target-dir="app/src/main/kotlin/com/outsystemscloud/systembars" />
    </platform>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="CustomSystemBars">
                <param name="ios-package" value="CDVSystemBarsPlugin" />
                <param name="onload" value="true" />
            </feature>
            <preference name="deployment-target" value="13.0" />
            <preference name="SwiftVersion" value="5" />
        </config-file>

        <config-file target="*-Info.plist" parent="UIViewControllerBasedStatusBarAppearance">
            <true/>
        </config-file>

        <source-file src="src/ios/CDVSystemBarsPlugin.swift" />
    </platform>

</plugin>
